*.bin

# vim
* ~
*.swp

# macOS

.DS_Store

# C/C++

*.o
*.q
*.d

# python

__pycache__
*.py[cod]

testapp
demo
princes_sparkles
testapp
*.exe
i35-sim-princess-rainbow-sparkles
src/main.o
lib/Highway.o
lib/Graphics.o
tests/test_highway.o
tests/test_main.o
Group_Project_1337
lib/Vehicle.o
tests/test_vehicle.o
